*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  //hello-guy
  #upper-hand {
    animation: upper-hand 2s ease-in-out infinite alternate;
    transform-origin: left;
    transform-box: fill-box;
  }
  
  @keyframes upper-hand {
    from {
      transform: rotateZ(0deg)
    }
    to {
      transform: rotateZ(20deg)
    }
  }

  #right-eye {
    animation: right-eye 2s ease-in-out infinite alternate;
    transform-origin: center;
    transform-box: fill-box;
  }
  
  @keyframes right-eye {
    from {
      transform: scaleX(1);
      transform: scaleY(1);
    }
    to {
      transform: scaleX(5);
      transform: scaleY(0.1);
    }
  }
